In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("zadanie1.csv")

# Zad 1

In [18]:
df

          imie     nazwisko data_urodzenia       date
0      Jadwiga      Bilecka     01.01.1978 1978-01-01
1        Rafal        Bobek     11.04.1978 1978-11-04
2       Robert   Bobekowski     20.07.1978 1978-07-20
3        Rafal   Bobikowski     28.10.1978 1978-10-28
4        Rafal       Brobek      5.02.1979 1979-05-02
5       Wiktor     Brudziak     16.05.1979 1979-05-16
6     Boleslaw      Brynski     24.08.1979 1979-08-24
7      Jadwiga    Chrilecka      2.12.1979 1979-02-12
8      Liliana      Ciupala     11.03.1980 1980-11-03
9    Katarzyna        Dawro     19.06.1980 1980-06-19
10     Jadwiga    Derilecka     27.09.1980 1980-09-27
11      Michal     Dertucha      5.01.1981 1981-05-01
12      Robert         Dido     15.04.1981 1981-04-15
13      Michal        Dindo     24.07.1981 1981-07-24
14       Rafal        Dobek      1.11.1981 1981-01-11
15     Andrzej       Drozda      9.02.1982 1982-09-02
16      Wiktor      Dudziak     20.05.1982 1982-05-20
17      Robert      Dwernik     28.08.1982 1982-08-28
18      Michal      Fadecki      6.12.1982 1982-06-12
19     Barbara      Fibiana     16.03.1983 1983-03-16
20     Jadwiga    Filbrecka     24.06.1983 1983-06-24
21      Kalina      Filecka      2.10.1983 1983-02-10
22     Jolanta      Filecka     10.01.1984 1984-10-01
23     Jadwiga     Filoecka     19.04.1984 1984-04-19
24     Jadwiga     Firlecka     28.07.1984 1984-07-28
25       Rafal       Forbek      5.11.1984 1984-05-11
26     Barbara       Fornal     13.02.1985 1985-02-13
27       Rafal   Fraczynski     24.05.1985 1985-05-24
28     Jadwiga      Fulecka      1.09.1985 1985-01-09
29     Jadwiga      Gilecka     10.12.1985 1985-10-12
..         ...          ...            ...        ...
78   Krzysztof      Policki     11.05.1999 1999-11-05
79      Elwira  Policzawska     19.08.1999 1999-08-19
80       Pawel  Policzewski     27.11.1999 1999-11-27
81    Krystyna    Polkowiak      6.03.2000 2000-06-03
82      Wiktor      Proszak     14.06.2000 2000-06-14
83     Andrzej        Robek     22.09.2000 2000-09-22
84    Zbigniew        Rudak     31.12.2000 2000-12-31
85     Barbara     Sadurski     10.04.2001 2001-10-04
86       Marek        Sawek     19.07.2001 2001-07-19
87      Robert        Sulik     27.10.2001 2001-10-27
88    Zbigniew        Sulik      4.02.2002 2002-04-02
89      Robert   Sulikowski     15.05.2002 2002-05-15
90      Robert        Surma     23.08.2002 2002-08-23
91      Robert       Surmak      1.12.2002 2002-01-12
92      Wiktor       Suwald     11.03.2003 2003-11-03
93      Michal       Szerka     19.06.2003 2003-06-19
94     Tadeusz       Tomora     27.09.2003 2003-09-27
95    Zbigniew     Trewirek      5.01.2004 2004-05-01
96    Zbigniew   Twardzioch     14.04.2004 2004-04-14
97     Andrzej   Twarnowski     23.07.2004 2004-07-23
98     Tadeusz     Twomicki     31.10.2004 2004-10-31
99      Michal       Wertyk      8.02.2005 2005-08-02
100      Rafal        Wobek     19.05.2005 2005-05-19
101    Tadeusz        Womor     27.08.2005 2005-08-27
102     Robert       Wyszon      5.12.2005 2005-05-12
103     Robert        Zamek     15.03.2006 2006-03-15
104     Wiktor      Zamlcki     23.06.2006 2006-06-23
105    Tadeusz     Zomornik      1.10.2006 2006-01-10
106     Edward   Zeligowski      9.01.2007 2007-09-01
107   Zbigniew   Zeligowski     19.04.2007 2007-04-19

[108 rows x 4 columns]

# Zad 2

In [6]:
df['date'] = pd.to_datetime(df['data_urodzenia'])

In [15]:
(df['date'] > '1999-12-31').sum()

27

# Liczba osób urodzonych po 1999-12-31 = 27

# zad 3

In [20]:
import numpy as np

In [24]:
df['ostatnia'] = df['imie'].apply(lambda x:x[-1])

In [26]:
def sprawdz(x):
    if x == "a":
        return True
    else:
        return False

In [28]:
df['czy_kobieta'] = df['ostatnia'].apply(lambda x:sprawdz(x))

# wywołanie za pomocą valuie_counts

In [32]:
df['imie'][df['czy_kobieta'] == True].value_counts()

Jadwiga      10
Barbara       9
Krystyna      3
Ewa           2
Elwira        1
Kalina        1
Katarzyna     1
Liliana       1
Pelagia       1
Jolanta       1
Name: imie, dtype: int64